<div class="container">

  <div style="padding-top:
 150px;" class="flex
 flex-col gap-3 items-center text-center justify-center">

    <p style="font-size:
 1.2rem;" class="font-semibold">Quiz
      will start in</p>
    <div id="timer" class="transition-all
 duration-300" style="padding:
 0 50px 20px 50px; background-color: #d44715; border-radius: 50%;">

      <span id="time" style="font-size:
 180px; color: white; line-height: 200px;" class="font-bold
 drop-shadow-lg">{{
        time }}</span>

    </div>

  </div>
</div>